/*<--- Font Defining --->*/
@font-face {
    font-family: 'Barecast';
    src: url("/fonts/barecast.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lmc';
    src: url("/fonts/lmc.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Splendid';
    src: url("/fonts/splendid.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*<--- Base --->*/

body {
    margin: 0;
    line-height: 1;
    
    font-family: Barecast, monospace;
    font-size: 12px;

    background: #dee7d5;
    color: #111111;
}

::selection {
    background-color: transparent;
    color: #0d00ff;
}


/* <--- Links ---> */

a {
  color: #616d54;
  text-decoration: none;
}
a:hover {
  color: #7d9267;
  text-decoration: underline #3c4d3f;
}

/*<--- Headers --->*/
h1 {
    font-size: 16px;
    font-family: Barecast, monospace;
    color: #111111;
}

h2 {
    font-size: 16px;
    font-family: Barecast, monospace;
    color: #111111;
}

h3 {
    font-size: 13px;
    font-family: Barecast, monospace;
    color: #111111;
}

h4 {
    font-size: 10px;
    font-family: Barecast, monospace;
    color: #111111;
}

p {
    font-size: 12px;
    font-family: Barecast, monospace;
    color: #111111;
}


li {
    list-style-type: "*";
}

/* <--- Wrapper ---> */
.main-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px;               
    margin-top: 6%;
    width: 100%;             
}

.wrapper {
    flex: 0 1 400px;
    height: 650px;
    border: 1px dashed black;
}

.wrapper-side {
    flex: 0 0 150px;         
    min-height: 630px;       
    border: 1px dashed black;
    font-size: 16px; 
    padding: 10px;           
}

.m_title {
    max-width: 100%;
    max-height: 70px;

    margin-left: 2%;
    margin-right: 2%;
    margin-top: 6%;
    
    row-gap: 0;
    
    border: 1px dashed black;
    border-radius: 8px;
}

.box {
    max-width: 95%;
    
    margin-left: 2%;
    margin-right: auto;
    margin-top: 6%;
    
    row-gap: 0;
    
    border: 1px dashed black;
}

.footer {
    max-width: 95%;
    
    margin-left: 2%;
    margin-right: auto;
    margin-top: 110%;
    
    row-gap: 0;
    

    border: 1px dashed black;
}

.inner {
    row-gap: 0;    
    text-align: center;
}

.title {
    border: 1px dashed black;
    max-width: 175px;

    margin-left: -1%;
    margin-right: 0%;
    margin-top: -4%;
    
    padding: 1px;
    line-height: 0;
    row-gap: 0;
    
    background: #f7ffe0;
    border-radius: 8px;
}

/* <--- Content ---> */
.button-container {
    display: flex;           
    justify-content: center;  
    align-items: center;      
    gap: 10px;
}

.button-container button {
    margin: 5px 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 30px;
    min-height: 30px;

    cursor: pointer;

    border: 1px dashed black;
    border-radius: 3px;
    background: #dee7d5;

    transition: transform 0.2s ease-in-out;
}

.button-container button:hover {
    transform: scale(1.1); 
}

.image-container {
    margin: 5%;
    position: relative;
    display: inline-block; 
}

.image-container h1 {
    position: absolute;
    top: 30%;
    left: 170%;
    transform: translate(-50%, -50%);
        
    margin: 0;
    pointer-events: none; 
    color: #111111;     
    letter-spacing: 5px;
    font-family: Barecast, monospace;
    
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.image-container h4 {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
        
    margin: 0;
    pointer-events: none; 
    color: #111111;     
    letter-spacing: 5px;
    font-family: Barecast, monospace;
    
    font-size: 10px;
    width: 100%;
    text-align: center;
}

/* <--- ---> */
/* <--- ---> */
